* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*================ GENERAL STYLES ===============

                    COLORS

#2B2C2E /  #9FA2A7 / #27282A /  #848689 / #3D3E41 / #fff

                    FONTS

            Graphik, TiemposHeadline, Theinhardt */

@font-face {
    font-family: "Graphik";
    src: url('../fonts/Graphik-Regular.woff');
}

@font-face {
    font-family: "GraphikBold";
    src: url('../fonts/Graphik-Medium.ttf');
}

@font-face {
    font-family: "TiemposHeadline";
    src: url('../fonts/TiemposHeadline-Semibold.woff');
}

@font-face {
    font-family: "Theinhardt";
    src: url('../fonts/Theinhardt-Lt.woff');
}

/*==================== HEADER ====================*/
header {
    display: inline;
}

header section {
    background: url("../img/home_hero.png") cover / center no-repeat;
    width: 100%
        /* height: 100vh; */
}

header section img {
    width: 100%;
    margin-bottom: 10vh;
}

nav {
    display: flex;
    justify-content: space-between;

}

nav ul {
    text-align: left;
    display: flex;
    list-style: none;
    margin: 4vh 8%;
}

nav ul li {
    margin: 0 10%;
}

nav ul a {
    font-family: "Graphik";
    text-decoration: none;
    color: black;
    display: inline;
}

nav ul a:hover,
footer a:hover {
    text-decoration: underline;
}

/* DESIGN CRITIQUE */
header nav span:nth-of-type(1) {
    font-family: "TiemposHeadline";
    font-size: 1.5em;
    display: inline;
    margin: 3vh 0 0 10%;
}

/* GET STARTED */
header nav span:nth-of-type(2) {
    font-family: "Graphik";
    border: 1px solid #000;
    color: #000;
    border-radius: 3px;
    margin: 3vh 10%;
    padding: 1vh 5%;
    display: inline;
    text-align: right;
}

header nav span:nth-of-type(2) a {
    color: #000;
    text-decoration: none;
}

header nav span:nth-of-type(2):hover {
    background: #000;
    color: #fff;
    transition: 0.5s;
}

header nav span:nth-of-type(2) a:hover {
    color: #fff;
}

/* HEADER SECTION */

header section {
    margin-bottom: 10vh;
}

/* Get your design */
h1 {
    font-family: "Graphik";
    font-size: 3rem;
    text-align: center;
    margin: 5vh 0;
}

/* We will review your designs */
.headerWrapper {
    display: flex;
}

/* left Div */
.leftDiv p {
    font-family: "GraphikBold";
    font-size: 1.5rem;
    line-height: 1.5em;
    padding: 0 15%;
}

header section div:nth-of-type(1) {
    flex-basis: 70%;
}

/* right Div */
header section div:nth-of-type(2) {
    flex-basis: 30%;
}

/* $149 */
header section div:nth-of-type(2) span {
    flex-basis: 60%;
    font-family: "Theinhardt";
    font-size: 3rem;
}

/* Flat rate for the design critique */
header section div:nth-of-type(2) p {
    font-size: 1rem;
    font-family: "Theinhardt";
    color: #9FA2A7;
}

/*===================== MAIN =====================*/

/* SECTION 1 - DELIVERABLES */

main section:nth-of-type(1) {
    display: flex;
    gap: 0 5%;
    padding: 5vh 10%;
}

.leftDiv2 {
    flex-basis: 50%;
}

.leftDiv2 img {
    width: 100%;
}

.rightDiv2 {
    flex-basis: 50%;
}

h2 {
    font-size: 3.5rem;
    font-family: "TiemposHeadline";
    margin-bottom: 8vh;
}

h3 {
    font-family: "Theinhardt";
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2vh;
}

.rightDiv2 p {
    font-family: "Theinhardt";
    font-size: 1.2rem;
    margin-bottom: 4vh;
    color: #9FA2A7;
    width: 90%;
}

/* SECTION 2 - HOW IT WORKS */

main section:nth-of-type(2) {
    font-family: "Theinhardt";
    color: #9FA2A7;
    background: #F1F1F4;
    margin: 10vh 10%;
    display: flex;
}

/* How it works */
h4 {
    font-size: 3.5rem;
    font-family: "TiemposHeadline";
    color: #000;
}

/* left div */
main section:nth-of-type(2) div:nth-of-type(1) {
    flex-basis: 50%;
    padding: 10vh 10%;
}

main section:nth-of-type(2) div:nth-of-type(1) ol {
    line-height: 1.5rem;
    margin-left: 10%;
    margin-bottom: 5vh;
}

main section:nth-of-type(2) div:nth-of-type(1) p {
    line-height: 1.5rem;
}

/* right div */
main section:nth-of-type(2) div:nth-of-type(2) {
    flex-basis: 50%;
}

main section:nth-of-type(2) div:nth-of-type(2) img {
    width: 100%;
}

/* SECTION 3 - CRITIQUE */

main section:nth-of-type(3) {
    font-family: "Theinhardt";
    color: #9FA2A7;
    /* border-bottom: 1px solid #000; */
    padding: 0 10%;
    text-align: center;
}

main section:nth-of-type(3) div:nth-of-type(1) {
    line-height: 1.5rem;
    margin-bottom: 10vh;
}

.twentyeight {
    background: url("../img/28.png") no-repeat;
    height: 35vh;
}

main section:nth-of-type(3) div:nth-of-type(3) {
    display: flex;
    padding: 0 10%;
}

.leftDiv3 {
    flex-basis: 50%;
}

aside {
    font-size: 1.2rem;
    width: 60%;
    text-align: left;
    margin-left: 40%;
    line-height: 2rem;
}

.rightDiv3 {
    flex-basis: 50%;
    margin-bottom: 10vh;
}

.rightDiv3 img {
    width: 100%;
}

/*==================== FOOTER ====================*/

footer {
    font-family: "Theinhardt";
    padding: 10vh 10% 5vh;
    color: #9FA2A7;
    border-top: 1px solid #000;
    margin: 0 10%;
}

h5 {
    font-family: "TiemposHeadline";
    color: #000;
    font-size: 3em;
    text-align: center;
    margin-bottom: 5vh;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer div img {
    width: 8%;
}

footer a {
    color: #000000;
    text-decoration: none;
}